@model IEnumerable<RoleView>
@{
    ViewData["Title"] = "Index";
}
<a asp-action="Create" class="btn btn-success" asp-controller="Role">ADD New Role</a>


@if (Model.Count() > 0)
{
<br />
<h1> all Roles</h1>
<br />

	<div class="mt-5">
		<Form class="row offset-2" asp-action="index">
			<div class="col-8">
			<input class="form-control" type="text" name="SearchValue" placeholder="Role name"/>
			</div>
			<div class= "col-4">
			<input type="submit" class="btn btn-success" value="Search" />
			</div>
		</Form>
	</div>


<table class= "table table-striped table-hover mt-3">
<thead>
<tr>
<td>@Html.DisplayNameFor(D=>D.Id)</td>
<td>@Html.DisplayNameFor(D=>D.RoleName)</td>

<td>Details</td>
<td>Update</td>
<td>Delete</td>
</tr>
</thead>
<tbody>
@foreach (var Role in Model)
{
<tr>
<td>@Role.Id</td>
<td>@Role.RoleName</td>
<partial name="_ButtonPartialView" model="@Role.Id" />

</tr>
}
</tbody>
</table>
}
else
{
<div class="mt-5 alert alert-warning">
<h3>there is No Roles</h3>
</div>
}

